@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #090b1a;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 1.7em;
  padding: 1em;
}

span {
  color: #aa5cdb;
}

.main-text {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.heading {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 5px;
}

.number {
  color: white;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
}

.image {
  background: #aa5cdb;
  border-radius: 1em 1em 0 0;
}

img {
  display: block;
  max-width: 100%;
  opacity: 0.75;
  mix-blend-mode: multiply;
  border-radius: 1em 1em 0 0;
}

.card {
  max-width: 90%;
  margin: 4em auto;
  background: #1b1938;
  border-radius: 1em;
}

.content {
  padding: 0 1.2em;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 15em;
}

@media screen and (min-width: 600px) {
  main {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h1 {
    text-align: left;
    padding: 1em 0;
  }
  .main-text {
    text-align: left;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 1000px;
    max-height: 90%;
    margin: auto;
  }
  .card > * {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .content {
    padding: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 0;
    max-width: 80%;
  }
  .image {
    border-radius: 0 1em 1em 0;
  }
  .attribution {
    position: absolute;
    bottom: 1em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 1em;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */